{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro offenceSearch(offenceCode, backUrl) %}
    <form method="get">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                {{ govukInput({
                    label: {
                        text: "Search text"
                    },
                    id: "offenceCode",
                    value: offenceCode,
                    name: "offenceCode",
                    classes: "govuk-input--width-10",
                    attributes: {  'data-qa': 'offence-code' },
                    hint: {
                        text: "Searches on code, description and legislation"
                    }
                }) }}
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
                    {{ govukButton({
                        classes: "govuk-button--primary govuk-!-margin-right-2",
                        text: "Search",
                        preventDoubleClick: true,
                        attributes: {  'data-qa': 'search-offences' }
                    }) }}
                {% if (backUrl) %}
                        {{ govukButton({
                            classes: "govuk-button--secondary",
                            text: "Finish",
                            preventDoubleClick: true,
                            href: backUrl,
                            attributes: {  'data-qa': 'search-offences' }
                        }) }}
                {% endif %}
            </div>
        </div>

    </form>
{% endmacro %}
