{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro offenceTable(attributes) %}
    {% set offences = attributes.offences %}
    {% set offenceCodeSearch = attributes.offenceCodeSearch %}
    {% set user = attributes.user %}
    {% if (offences) %}
        {% if (offences.length > 0) %}
            <table id="load-results-table" class="govuk-table alternate-shade" data-qa="load-results-table">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header govuk-!-font-size-16">Code</th>
                    <th scope="col" class="govuk-table__header govuk-!-font-size-16">Description</th>
                    <th scope="col" class="govuk-table__header govuk-!-font-size-16">Start date</th>
                    <th scope="col" class="govuk-table__header govuk-!-font-size-16">End date</th>
                    <th scope="col" class="govuk-table__header govuk-!-font-size-16">Last change date</th>
                </tr>
                </thead>
                <tbody class="govuk-table__body govuk-body-s">
                {% for offence in offences %}
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <a class="govuk-link" href="/search/offence/{{ offence.id }}/view?offenceCodeSearch={{ offenceCodeSearch }}">{{ offence.code }}</a>
                        </td>
                        <td class="govuk-table__cell">
                            {{ offence.description }}
                        </td>
                        <td class="govuk-table__cell">
                            {{ offence.startDate | dateFormat }}
                        </td>
                        <td class="govuk-table__cell">
                            {{ offence.endDate | dateFormat }}
                        </td>
                        <td class="govuk-table__cell">
                            {{ offence.changedDate | dateTimeFormat }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% else %}
            <p class="govuk-body govuk-!-font-weight-bold">There are no matching results.</p>
        {% endif %}
    {% endif %}
{% endmacro %}
