{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro offenceDetailsSection(offence, parentOffence, attributes) %}
    {% if attributes.encouragementOffenceConfirmation %}
        {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

        {% set html %}
            <h3 class="govuk-notification-banner__heading">
                Encouragement offence has been successfully added
            </h3>
            <p class="govuk-body">New offence will be present within NOMIS</p>
        {% endset %}

        {{ govukNotificationBanner({
            html: html,
            type: "success"
        }) }}
    {% endif %}
    <div class="govuk-grid-row govuk-body basic-details">
        <div class="govuk-grid-column-one-quarter">
            <div id="basic-details-content">
                <div>
                    <p>
                        <span class="govuk-!-font-weight-bold">Code</span>
                        <span data-qa="offence-code">{{ offence.code }}</span>
                    </p>
                    <p>
                        <span class="govuk-!-font-weight-bold">Start date</span>
                        <span data-qa="offence-start-date">{{ offence.startDate | dateFormat }}</span>
                    </p>
                    <p>
                        <span class="govuk-!-font-weight-bold">Offence type</span>
                        <span data-qa="offence-type">{{ offence.offenceType or 'None' }}</span>
                    </p>
                    <p>
                        <span class="govuk-!-font-weight-bold">Maximum indictment</span>
                        {% if offence.maxPeriodIsLife %}
                            <span data-qa="max-period-indictment-life">Life</span>
                        {% elseif offence.maxPeriodOfIndictmentYears %}
                            <span data-qa="max-period-indictment-years">{{ offence.maxPeriodOfIndictmentYears }} Years</span>
                        {% elseif offence.maxPeriodOfIndictmentMonths %}
                            <span data-qa="max-period-indictment-months">{{ offence.maxPeriodOfIndictmentMonths }} Months</span>
                        {% elseif offence.maxPeriodOfIndictmentWeeks %}
                            <span data-qa="max-period-indictment-weeks">{{ offence.maxPeriodOfIndictmentWeeks }} Weeks</span>
                        {% elseif offence.maxPeriodOfIndictmentDays %}
                            <span data-qa="max-period-indictment-days">{{ offence.maxPeriodOfIndictmentDays }} Days</span>
                        {% else %}
                            <span data-qa="max-period-indictment">Not entered</span>
                        {% endif %}
                    </p>
                    {% if offence.custodialIndicator %}
                    <p>
                        <span class="govuk-!-font-weight-bold">Imprisonable</span>
                        {% if offence.custodialIndicator == 'Y'%}
                            <span data-qa="custodial-indicator">Yes</span>
                        {% elseif offence.custodialIndicator == 'N'%}
                            <span data-qa="custodial-indicator">No</span>
                        {% elseif offence.custodialIndicator == 'E'%}
                            <span data-qa="custodial-indicator">Either</span>
                        {% endif %}
                    </p>
                    {% endif %}
                    {% if offence.isChild %}
                        <p>
                            <span class="govuk-!-font-weight-bold">Inchoate offence</span>
                            <span data-qa="parent-offence">Yes</span>
                        </p>
                    {% endif %}


                    {% if attributes.nomisActivationFlags.canActivate %}
                        <form method="post" action="/admin/nomis/offence/reactivate">
                            <input type="hidden" name="_csrf" value="{{ attributes.csrfToken }}"/>
                            <input type="hidden" name="offenceId" value="{{ offence.id }}"/>
                            <input type="hidden" name="offenceCodeSearch" value="{{ attributes.offenceCodeSearch }}"/>
                            {{ govukButton({
                                classes: "govuk-button--secondary govuk-!-margin-right-2",
                                text: "Activate in NOMIS",
                                preventDoubleClick: true,
                                attributes: {  'data-qa': 'reactivate-in-nomis' }
                            }) }}
                        </form>
                    {% endif %}

                    {% if attributes.nomisActivationFlags.canDeactivate %}
                        <form method="post" action="/admin/nomis/offence/deactivate">
                            <input type="hidden" name="_csrf" value="{{ attributes.csrfToken }}" />
                            <input type="hidden" name="offenceId" value="{{ offence.id }}" />
                            <input type="hidden" name="offenceCodeSearch" value="{{ attributes.offenceCodeSearch }}" />
                            {{ govukButton({
                                classes: "govuk-button--secondary govuk-!-margin-right-2 govuk-!-margin-top-1 govuk-!-margin-bottom-1",
                                text: "Deactivate in NOMIS",
                                preventDoubleClick: true,
                                attributes: {  'data-qa': 'deactivate-in-nomis' }
                            }) }}
                        </form>
                    {% endif %}

                    {% if attributes.isEligibleForEncouragementOffence %}
                        <form method="post" action="/admin/nomis/offence/encouragement">
                            <input type="hidden" name="_csrf" value="{{ attributes.csrfToken }}" />
                            <input type="hidden" name="offenceId" value="{{ offence.id }}" />
                            <input type="hidden" name="offenceCodeSearch" value="{{ attributes.offenceCodeSearch }}" />
                            {{ govukButton({
                                classes: "govuk-button--secondary govuk-!-margin-right-2",
                                text: "Add Encouragement Offence",
                                preventDoubleClick: true,
                                attributes: {  'data-qa': 'add-encouragement-offence' }
                            }) }}
                        </form>
                    {% endif %}

                </div>
            </div>
        </div>
        <div class="govuk-grid-column-three-quarters">
            <div id="basic-details-content">
                <div>
                    <p>
                        <span class="govuk-!-font-weight-bold">Description</span>
                        <span data-qa="offence-description">{{ offence.description }}</span>
                    </p>
                    <p>
                        <span class="govuk-!-font-weight-bold">End date</span>
                        <span data-qa="offence-end-date">{{ (offence.endDate | dateFormat) or 'None' }}</span>
                    </p>
                    <p>
                        <span class="govuk-!-font-weight-bold">Home Office code</span>
                        <span data-qa="ho-code">{{ offence.homeOfficeStatsCode or 'None' }}</span>
                    </p>
                    <p>
                        <span class="govuk-!-font-weight-bold">Legislation</span>
                        <span data-qa="legislation">{{ offence.legislation or 'Not entered' }}</span>
                    </p>
                    {% if offence.isChild %}
                        <p>
                            <span class="govuk-!-font-weight-bold">Parent offence</span>
                            <span data-qa="parent-offence">
                                {% if offence.parentOffenceId != null %}
                                <a class="govuk-link" href="/search/offence/{{ parentOffence.id }}/view" id="parent-offence-link">
                                    {{ parentOffence.code }}: {{ parentOffence.description }}
                                </a>
                                {% else %}
                                    <p id="parent-offence-warning">No parent offence specified!</p>
                                {% endif %}
                            </span>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
