{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "./unlinkOffenceColumn.njk" import unlinkOffenceColumn %}

{% macro scheduleOffenceListTable(attributes) %}
    {% set offences = attributes.offences %}

    {% if (offences and offences.length > 0) %}
        <table id="pcsc-offence-table" class="offence-table govuk-table alternate-shade" data-qa="pcsc-results-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-font-size-16">Code</th>
                <th scope="col" class="govuk-table__header govuk-!-font-size-16">Description</th>
                <th scope="col" class="govuk-table__header govuk-!-font-size-16">Start date</th>
                <th scope="col" class="govuk-table__header govuk-!-font-size-16">End date</th>
                <th scope="col" class="govuk-table__header govuk-!-font-size-16">Legislation</th>
                {% if attributes.showMaxPeriodAndParagraph %}
                    <th scope="col" class="govuk-table__header govuk-!-font-size-16">Max Period</th>
                    <th scope="col" class="govuk-table__header govuk-!-font-size-16">Paragraph</th>
                {% endif %}
            </tr>
            </thead>
            <tbody class="govuk-table__body govuk-body-s">
            {% for offence in offences %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <a class="govuk-link" href="/search/offence/{{ offence.id }}/view">{{ offence.code }}</a>
                    </td>
                    <td class="govuk-table__cell">
                        {{ offence.description }}
                    </td>
                    <td class="govuk-table__cell">
                        {{ offence.startDate | dateFormat }}
                    </td>
                    <td class="govuk-table__cell">
                        {{ offence.endDate | dateFormat }}
                    </td>
                    <td class="govuk-table__cell">
                        {{ offence.legislationText or offence.legislation }}
                    </td>
                    {% if attributes.showMaxPeriodAndParagraph %}
                        <td class="govuk-table__cell">
                            {% if offence.maxPeriodIsLife %}
                                Life
                            {% elseif offence.maxPeriodOfIndictmentYears %}
                                {{ offence.maxPeriodOfIndictmentYears }} Years
                            {% else %}
                                Not entered
                            {% endif %}
                        </td>
                        <td class="govuk-table__cell">
                            {{ offence.paragraphNumber }}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="govuk-body govuk-!-font-weight-bold">There are no matching results.</p>
    {% endif %}
{% endmacro %}
