{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro searchOffencesToLinkTable(attributes) %}
    {% set offences = attributes.offences %}
    {% set scheduleId = attributes.scheduleId %}
    {% set schedulePartId = attributes.schedulePartId %}
    {% set offenceCodeSearch = attributes.offenceCodeSearch %}
    {% set user = attributes.user %}
    {% if (offences) %}
        {% if (offences.length > 0) %}
            <table id="load-results-table" class="govuk-table alternate-shade" data-qa="load-results-table">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header govuk-!-font-size-16">Code</th>
                    <th scope="col" class="govuk-table__header govuk-!-font-size-16">Description</th>
                    <th scope="col" class="govuk-table__header govuk-!-font-size-16">Start date</th>
                    <th scope="col" class="govuk-table__header govuk-!-font-size-16">End date</th>
                    <th scope="col" class="govuk-table__header govuk-!-font-size-16">Last change date</th>
                    {% if ('ROLE_UPDATE_OFFENCE_SCHEDULES' in user.roles) %}
                        <th scope="col" class="govuk-table__header govuk-!-font-size-16"></th>
                    {% endif %}
                </tr>
                </thead>
                <tbody class="govuk-table__body govuk-body-s">
                {% for offence in offences %}
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            {{ offence.code }}
                        </td>
                        <td class="govuk-table__cell">
                            {{ offence.cjsTitle }}
                        </td>
                        <td class="govuk-table__cell">
                            {{ offence.startDate | dateFormat }}
                        </td>
                        <td class="govuk-table__cell">
                            {{ offence.endDate | dateFormat }}
                        </td>
                        <td class="govuk-table__cell">
                            {{ offence.changedDate | dateTimeFormat }}
                        </td>
                        <td class="govuk-table__cell text-align-right">
                            {% if not offence.isChild %}
                                {{ govukButton({
                                    text: "Link",
                                    value: 'add-button',
                                    classes: 'govuk-button--secondary govuk-!-margin-bottom-0',
                                    href: '/schedules/link-offence/create?scheduleId=' + scheduleId + '&partId=' + schedulePartId + '&offenceId=' + offence.id + '&offenceCodeSearch=' + offenceCodeSearch ,
                                    preventDoubleClick: true
                                }) }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% else %}
            <p class="govuk-body govuk-!-font-weight-bold">There are no matching results.</p>
        {% endif %}
    {% endif %}
{% endmacro %}
