{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "partials/nav.njk" import navBar with context %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "partials/offenceDetailsSection.njk" import offenceDetailsSection %}
{% from "partials/inchoateTable.njk" import inchoateTable %}

{% set pageTitle = applicationName + " - Link" %}
{% set pageId = "create-link" %}

{% block navBar %}
    {{ navBar('schedules') }}
{% endblock %}

{% block aside %}
    {{ govukBreadcrumbs({
        items: [
            {
                text: "Schedules",
                href: "/schedules"
            },
            {
                text: "Schedule " + fullSchedule.code,
                href: "/schedules/parts-and-offences/" + fullSchedule.id
            },
            {
                text: "Search " + offenceCodeSearch,
                href: "/schedules/link-offences/"  + fullSchedule.id + "/" + schedulePart.id + "/" + "?offenceCode=" + offenceCodeSearch
            },
            {
                text: "Link " + offence.code
            }
        ]
    }) }}
{% endblock %}

{% block content %}

    <div id="offence-search-container">
        <h1 class="govuk-heading-l">
            <span class="govuk-caption-l">{{ fullSchedule.act }}</span>
            Link {{ offence.code }} to Schedule {{ fullSchedule.code }} Part {{ schedulePart.partNumber }}
        </h1>
    </div>

    {{ offenceDetailsSection(offence) }}

    <div class="govuk-grid-row govuk-body">
        <div class="govuk-grid-column-full">
            {% if offence.childOffences.length == 0 %}
                <p class="govuk-!-margin-bottom-0 govuk-!-font-weight-bold">Inchoate offences</p>
                <p class="govuk-!-margin-bottom-0">None</p>
            {% else %}
            <p class="govuk-!-margin-bottom-0 govuk-!-font-weight-bold">Inchoate offences (will also be
                linked)</p>
                {{ inchoateTable(offence.childOffences) }}
            {% endif %}
        </div>
    </div>

    <p class="govuk-body govuk-!-padding-top-0"><a
                href={{ fullSchedule.url }} class="govuk-link" rel="noreferrer noopener"
                target="_blank">View legislation for Schedule {{ fullSchedule.code }}</a>
    </p>
    <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        <input type="hidden" name="scheduleId" value="{{ fullSchedule.id }}"/>
        <input type="hidden" name="schedulePartId" value="{{ schedulePart.id }}"/>
        <input type="hidden" name="offenceId" value="{{ offence.id }}"/>
        {{ govukInput({
            label: {
                text: "What is the associated paragraph number that relates to this mapping? (optional)"
            },
            classes: "govuk-input--width-3",
            id: "paragraphNumber",
            name: "paragraphNumber",
            inputmode: "numeric",
            type: "number",
            spellcheck: false
        }) }}
        {{ govukInput({
            label: {
                text: "What is the associated paragraph title that relates to this mapping? (optional)"
            },
            classes: "govuk-input--width-30",
            id: "paragraphTitle",
            name: "paragraphTitle"
        }) }}

        {{ govukInput({
            label: {
                text: "What is the line reference in the paragraph that relates to this mapping? (optional)"
            },
            classes: "govuk-input--width-30",
            id: "lineReference",
            name: "lineReference"
        }) }}
        {{ govukInput({
            label: {
                text: "What is the legislation text that relates to this mapping? (optional)"
            },
            classes: "govuk-input--width-30",
            id: "legislationText",
            name: "legislationText"
        }) }}

        {{ govukButton({
            classes: "govuk-button--primary govuk-!-margin-right-2",
            text: "Link",
            preventDoubleClick: true,
            type: submit,
            attributes: {  'data-qa': 'link-offence' }
        }) }}

        {{ govukButton({
            classes: "govuk-button--secondary govuk-!-margin-right-2",
            text: "Cancel",
            preventDoubleClick: true,
            href: "/schedules/link-offences/"  + fullSchedule.id + "/" + schedulePart.id + "/" + "?offenceCode=" + offenceCodeSearch,
            attributes: {  'data-qa': 'link-offence' }
        }) }}
    </form>

{% endblock %}
