{% extends "partials/layout.njk" %}
{% from "partials/nav.njk" import navBar with context %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

    {% set pageTitle = applicationName + " -Schedule part link offences by CSV" %}
        {% set pageId = "schedule-part-link-offences-csv" %}

        {% block navBar %}
            {{ navBar("schedules") }}
        {% endblock %}

    {% block aside %}
        {{ govukBreadcrumbs({
            items: [
                {
                    text: "Schedules",
                    href: "/schedules"
                },
                {
                    text: "Schedule " + fullSchedule.code,
                    href: "/schedules/parts-and-offences/" + fullSchedule.id
                },
                {
                    text: "Link"
                }
            ]
        }) }}
    {% endblock %}

    {% block content %}
        <h1 class='govuk-heading-l'>Link offences</h1>

        {% if errors.length %}
            {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: errors
            }) }}
        {% endif %}

        <p>
            Use the CSV template provided <a href="{{ "/schedules/parts-and-offences/" + fullSchedule.id + "/part/link/csv" }}">here</a>
            to link offences to the schedule part.
        </p>
        <p>
            File <strong>must</strong> be 1Mb or less in size
        </p>
        <p>
            Please review the following point before submitting the CSV.
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>
                Ensure each row has a valid offence code.
            </li>
            <li>
                Offence codes not found within Manage Offences will be ignored.
            </li>
            <li>
                Offence codes greater than 7 characters will be excluded (only child offences are greater).
            </li>
            <li>
                Any child offences relating to a submitted offence will be included in the schedule.
            </li>
        </ul>

        <form method='POST' enctype="multipart/form-data">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

            {{ govukFileUpload({
                id: "offences-file",
                name: "file"
            }) }}

            {{ govukButton({
                classes: "govuk-button--primary govuk-!-margin-right-2",
                text: "Submit",
                preventDoubleClick: true,
                type: submit,
                attributes: {  'data-qa': 'link-offences' }
            }) }}

            {{ govukButton({
                classes: "govuk-button--secondary govuk-!-margin-right-2",
                text: "Cancel",
                preventDoubleClick: true,
                href: "/schedules/parts-and-offences/" + fullSchedule.id,
                attributes: {  'data-qa': 'link-offences' }
            }) }}
        </form>
    {% endblock %}
