{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "partials/nav.njk" import navBar with context %}
{% from "partials/offenceSearchTable.njk" import offenceSearchTable %}

{% set pageTitle = applicationName + " - Search" %}
{% set pageId = "search-offences" %}

{% block navBar %}
    {{ navBar('schedules') }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row govuk-!-margin-bottom-4" data-qa="offence-search-section">
        <div class="govuk-grid-column-full">
            <div id="offence-search-container">
                <h1 class="govuk-heading-l">Link offences to a schedule part</h1>
                {% include "pages/search/offenceSearch.njk" %}
                {{ offenceSearchTable(offences, scheduleId, schedulePartId, offenceCode, csrfToken) }}
            </div>
        </div>
    </div>
{% endblock %}
