{% extends "layout.njk" %}
{% from "partials/nav.njk" import navBar with context %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "partials/linkedOffenceTable.njk" import linkedOffenceTable %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set pageTitle = applicationName + " - Schedules" %}
{% set pageId = "schedules" %}

{% block navBar %}
    {{ navBar("schedules") }}
{% endblock %}

{% block aside %}
    {{ govukBreadcrumbs({
        items: [
            {
                text: "Schedules",
                href: "/schedules"
            },
            {
                text: "Schedule " + fullSchedule.code
            }
        ]
    }) }}
{% endblock %}

{% block content %}
    <h1 class="govuk-heading-l govuk-!-margin-bottom-1">
        <span class="govuk-caption-l">{{ fullSchedule.act }}</span>
        Schedule {{ fullSchedule.code }}
    </h1>
    <p class="govuk-body govuk-!-font-size-16 govuk-!-padding-top-0">Review <a
                href={{ fullSchedule.url }} class="govuk-link" rel="noreferrer noopener"
                target="_blank">Schedule {{ fullSchedule.code }} of the {{ fullSchedule.act }}</a> on legislation.gov.uk
    </p>

    {% set tabRows = [] %}
    {% for part in fullSchedule.scheduleParts %}
        {% set tabRows = (tabRows.push(
            {
                label: "Part " + part.partNumber,
                id: "part-" + part.id,
                panel: {
                html: partTab(part, fullSchedule, csrfToken)
            }
            }
        ), tabRows) %}
    {% endfor %}

    {{ govukTabs({
        classes: 'borderless-tabs',
        items: tabRows
    }) }}

    {{ govukBackLink({
        text: "Back",
        href: '/schedules'
    }) }}
{% endblock %}

{% macro partTab(part, fullSchedule, csrfToken) %}
    {% if ('ROLE_UPDATE_OFFENCE_SCHEDULES' in user.roles) %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full text-align-right">

                {{ govukButton({
                    classes: "govuk-button--tertiary",
                    text: "Link offences",
                    preventDoubleClick: true,
                    href: '/schedules/link-offences/' + fullSchedule.id + '/' + part.id,
                    attributes: {  'data-qa': 'link-offences' }
                }) }}
            </div>
        </div>
    {% endif %}
    {{ linkedOffenceTable(
        {
            scheduleParagraphs: part.scheduleParagraphs,
            scheduleId: fullSchedule.id,
            schedulePartId: part.id,
            csrfToken: csrfToken,
            linkType: 'UNLINK',
            user: user
        }
    ) }}
{% endmacro %}
