{% extends "partials/layout.njk" %}
{% from "partials/nav.njk" import navBar with context %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "partials/linkedOffenceTable.njk" import linkedOffenceTable %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set pageTitle = applicationName + " - Schedules" %}
{% set pageId = "schedules" %}

{% block navBar %}
  {{ navBar("schedules") }}
{% endblock %}

{% block aside %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Schedules",
        href: "/schedules"
      },
      {
        text: "Schedule " + fullSchedule.code
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l govuk-!-margin-bottom-1">
    <span class="govuk-caption-l">{{ fullSchedule.act }}</span>
    Schedule {{ fullSchedule.code }}
  </h1>
  {% set canManage = 'UPDATE_OFFENCE_SCHEDULES' in user.userRoles or 'MANAGE_OFFENCES_ADMIN' in user.userRoles %}
  {% set canEdit = 'UPDATE_OFFENCE_SCHEDULES' in user.userRoles %}
  {% set editHref = "/schedules/" + fullSchedule.id + "/edit" %}
  {% set actAction = { items: [ { href: editHref, text: "Change", visuallyHiddenText: "act" } ] } if canEdit and fullSchedule.status === "DRAFT" %}
  {% set codeAction = { items: [ { href: editHref, text: "Change", visuallyHiddenText: "schedule code" } ] } if canEdit and fullSchedule.status === "DRAFT" %}
  {% set legislationAction = { items: [ { href: editHref, text: "Change", visuallyHiddenText: "link to the legislation" } ] } if canEdit %}
  {% set statusAction = { items: [ { href: "/schedules/" + fullSchedule.id + "/status", text: "Change", visuallyHiddenText: "status" } ] } if 'MANAGE_OFFENCES_ADMIN' in user.userRoles %}

  {% if canManage %}
    {{ govukSummaryList({
      rows: [
        {
          key: { text: "Act" },
          value: { text: fullSchedule.act },
          actions: actAction
        },
        {
          key: { text: "Schedule code" },
          value: { text: fullSchedule.code },
          actions: codeAction
        },
        {
          key: { text: "Legislation" },
          value: { html: '<a href="' + fullSchedule.url + '" class="govuk-link" rel="noreferrer noopener" target="_blank">View on legislation.gov.uk</a>' if fullSchedule.url else "Not recorded" },
          actions: legislationAction
        },
        {
          key: { text: "Status" },
          value: { html: govukTag({ text: "Draft", classes: "govuk-tag--grey" }) if fullSchedule.status === "DRAFT" else govukTag({ text: "Published", classes: "govuk-tag--green" }) },
          actions: statusAction
        }
      ],
      attributes: { 'data-qa': 'schedule-details' }
    }) }}
  {% else %}
    <p class="govuk-body govuk-!-font-size-16 govuk-!-padding-top-0">
      {% if fullSchedule.url %}
        Review <a href="{{ fullSchedule.url }}" class="govuk-link" rel="noreferrer noopener"
                  target="_blank">Schedule {{ fullSchedule.code }} of the {{ fullSchedule.act }}</a> on legislation.gov.uk
      {% else %}
        No link to the legislation has been recorded for this schedule.
      {% endif %}
    </p>
  {% endif %}

  {% if fullSchedule.code === '15' %}
    <p class="govuk-body">
      <a href="/schedules/pcsc-lists?scheduleId={{ fullSchedule.id }}" class="govuk-link" rel="noreferrer noopener">SDS+ Offences for PCSC</a>
    </p>
  {% endif %}

  <h2 class="govuk-heading-m govuk-!-margin-top-7">Parts</h2>

  {% set tabRows = [] %}
  {% for part in fullSchedule.scheduleParts %}
    {% set labelDesc = "Part " + part.partNumber + partDesc if partDesc else "Part " + part.partNumber %}
    {% if ['DVEO', 'SEO'].includes(fullSchedule.code) and part.partNumber == 2 %}
    {% set labelDesc = labelDesc + ' (Additional Excluded Offences)'  %}
    {% endif %}

    {% set tabRows = (tabRows.push(
      {
        label: labelDesc,
        id: "part-" + part.id,
        panel: {
        html: partTab(part, fullSchedule, csrfToken)
      }
      }
    ), tabRows) %}
  {% endfor %}

  {% if tabRows.length %}
    {# hand-rolled from the govukTabs template so an "Add a part" control can sit at the end of the strip #}
    <div class="govuk-tabs borderless-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">Contents</h2>
      <ul class="govuk-tabs__list">
        {% for tab in tabRows %}
          <li class="govuk-tabs__list-item {%- if loop.first %} govuk-tabs__list-item--selected{% endif %}">
            <a class="govuk-tabs__tab" href="#{{ tab.id }}">{{ tab.label }}</a>
          </li>
        {% endfor %}
        {% if 'UPDATE_OFFENCE_SCHEDULES' in user.userRoles %}
          <li class="app-tabs__add">
            <a class="govuk-link govuk-link--no-visited-state" href="/schedules/{{ fullSchedule.id }}/parts/add"
               data-qa="add-part">Add a part</a>
          </li>
        {% endif %}
      </ul>
      {% for tab in tabRows %}
        <div class="govuk-tabs__panel {%- if not loop.first %} govuk-tabs__panel--hidden{% endif %}" id="{{ tab.id }}">
          {{ tab.panel.html | safe }}
        </div>
      {% endfor %}
    </div>
  {% else %}
    {{ govukInsetText({
      text: "This schedule has no parts yet. Offences are linked to a part rather than to the schedule itself, so it
      needs at least one part before anything can be linked to it.",
      attributes: { 'data-qa': 'no-parts' }
    }) }}

    {% if 'UPDATE_OFFENCE_SCHEDULES' in user.userRoles %}
      <p class="govuk-body">
        <a href="/schedules/{{ fullSchedule.id }}/parts/add" class="govuk-link" data-qa="add-part">Add the first part</a>
      </p>
    {% endif %}
  {% endif %}

  {{ govukBackLink({
    text: "Back",
    href: '/schedules'
  }) }}
{% endblock %}

{% macro partTab(part, fullSchedule, csrfToken) %}
  <div class="govuk-grid-row">
    {% if partDesc %}
      <div class="govuk-grid-column-one-half govuk-!-text-align-left">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
          {{ partDesc }}
        </h2>
      </div>
      {% if ('UPDATE_OFFENCE_SCHEDULES' in user.userRoles) %}
        <div class="govuk-grid-column-one-half text-align-right">

          {{ govukButton({
            classes: "govuk-button--tertiary",
            text: "Link offences",
            preventDoubleClick: true,
            href: '/schedules/link-offences/' + fullSchedule.id + '/' + part.id,
            attributes: {  'data-qa': 'link-offences' }
          }) }}
        </div>
      {% endif %}
    {% else %}
      {% if ('UPDATE_OFFENCE_SCHEDULES' in user.userRoles) %}
        <div class="govuk-grid-column-full text-align-right">
          {{ govukButton({
            classes: "govuk-button--tertiary",
            text: "Link offences",
            preventDoubleClick: true,
            href: '/schedules/link-offences/' + fullSchedule.id + '/' + part.id,
            attributes: {  'data-qa': 'link-offences' }
          }) }}
        </div>
      {% endif %}
    {% endif %}
    {% if ['DVEO', 'SEO'].includes(fullSchedule.code) and part.partNumber == 2 %}
    <h2 class="govuk-heading-m govuk-!-margin-left-3">
      From 16 December, offences in part 1 will be excluded from early release and must be calculated at 50%
    </h2>
    {% endif %}
  </div>

  {{ linkedOffenceTable(
    {
      offences: part.offences,
      scheduleId: fullSchedule.id,
      schedulePartId: part.id,
      csrfToken: csrfToken,
      user: user
    }
  ) }}

  {% if ('UPDATE_OFFENCE_SCHEDULES' in user.userRoles) and (not part.offences or part.offences.length === 0) %}
    <form method="post" action="/schedules/{{ fullSchedule.id }}/parts/{{ part.id }}/delete">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
      {{ govukButton({
        classes: "govuk-button--warning",
        text: "Delete part " + part.partNumber,
        preventDoubleClick: true,
        attributes: { 'data-qa': 'delete-part-' + part.id }
      }) }}
    </form>
  {% endif %}
{% endmacro %}
