{% extends "layout.njk" %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{% from "partials/nav.njk" import navBar with context %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set pageTitle = applicationName + " - Schedules" %}
{% set pageId = "schedules" %}

{% block navBar %}
    {{ navBar("schedules") }}
{% endblock %}

{% block content %}
    <h1 class='govuk-heading-l'>Schedules</h1>

    <form method="get">
        {{ govukRadios({
            idPrefix: "schedule",
            name: "scheduleId",
            fieldset: {
                legend: {
                    text: "Choose a schedule",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--m"
                }
            },
            items: schedules | asValueText('id', 'code') | checkRadioIfIncludes(scheduleId)
        }) }}

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters ">
                <div>
                    {{ govukButton({
                        classes: "govuk-button--primary",
                        text: "Show offences",
                        preventDoubleClick: true,
                        attributes: {  'data-qa': 'search-prisoners' }
                    }) }}
                </div>
            </div>
        </div>

    </form>

    {% if (fullSchedule) %}
        {% for part in fullSchedule.scheduleParts %}
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">
                    <h1 class="govuk-heading-l">Part {{ part.partNumber }}</h1>
                </div>
                <div class="govuk-grid-column-one-quarter">
                    {{ govukButton({
                        classes: "govuk-button--tertiary",
                        text: "Link offences",
                        preventDoubleClick: true,
                        href: '/schedules/link-offences/' + fullSchedule.id + '/' + part.id,
                        attributes: {  'data-qa': 'link-offences' }
                    }) }}
                </div>
            </div>
            {% for offence in part.offences %}
                {#                TODO list all offences that are linked#}
            {% endfor %}
        {% endfor %}
    {% endif %}
{% endblock %}
