{% extends "partials/layout.njk" %}
{% from "partials/nav.njk" import navBar with context %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set pageTitle = applicationName + " - Schedules" %}
{% set pageId = "schedules" %}

{% block navBar %}
    {{ navBar("schedules") }}
{% endblock %}

{% block aside %}
    {{ govukBreadcrumbs({
        items: [
            {
                text: "Schedules"
            }
        ]
    }) }}
{% endblock %}

{% block content %}
    <h1 class='govuk-heading-l'>Select a schedule to manage its offences</h1>

    <form method="get">
        {{ govukRadios({
            idPrefix: "schedule",
            name: "scheduleId",
            items: schedules | asValueText('id', 'fullName') | checkRadioIfIncludes(scheduleId)
        }) }}

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters ">
                <div>
                    {{ govukButton({
                        classes: "govuk-button--primary",
                        text: "Continue",
                        preventDoubleClick: true,
                        attributes: {  'data-qa': 'search-prisoners' }
                    }) }}
                </div>
            </div>
        </div>

    </form>
{% endblock %}
