{% extends "partials/layout.njk" %}
{% from "partials/nav.njk" import navBar with context %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "partials/scheduleOffenceListTable.njk" import scheduleOffenceListTable %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set pageTitle = applicationName + " - SDS Early Release Exclusions" %}
{% set pageId = "schedules" %}

{% block navBar %}
  {{ navBar("schedules") }}
{% endblock %}

{% block aside %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: "SDS Early Release Exclusions"
      }
    ]
  }) }}
{% endblock %}

      {% block content %}
        <h1 class="govuk-heading-l">
          Offences that are excluded from SDS Early Release
        </h1>
        {{ govukTabs({
          classes: 'borderless-tabs',
          items: [
            {
              label: "Sexual",
              id: "sexua",
              panel: {
              html: pcscTab(sexualOrViolentLists.sexual, 'Offences that relate to the Sexual Offences Act 2003 or where the code begins with SX03 or SX56 or the offence is in Schedule 15 Part 2')
            }
            },
            {
              label: "Domestic Abuse",
              id: "domestic-abuse",
              panel: {
              html: pcscTab(sexualOrViolentLists.domesticAbuse, 'Offences that relate to Domestic Abuse')
            }
            },
            {
              label: "National security",
              id: "national-security",
              panel: {
              html: pcscTab(sexualOrViolentLists.violent, 'Offences that relate to National Security legislation')
            }
            },
            {
              label: "Violent",
              id: "violent",
              panel: {
              html: pcscTab(sexualOrViolentLists.violent, 'Violent Offences (Schedule 15 Part 1)')
            }
            }
          ]
        }) }}

        {{ govukBackLink({
          text: "Back",
          href: "/"
        }) }}
      {% endblock %}

      {% macro pcscTab(list, partDesc) %}
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full govuk-!-text-align-left">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
              {{ partDesc }}
            </h2>
          </div>
        </div>
        {{ scheduleOffenceListTable(
          {
            offences: list,
            showMaxPeriodAndParagraph: false
          }
        ) }}
      {% endmacro %}
