{% extends "partials/layout.njk" %}
{% from "partials/nav.njk" import navBar with context %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "partials/scheduleOffenceListTable.njk" import scheduleOffenceListTable %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set pageTitle = applicationName + " - Sexual or Violent Offences" %}
{% set pageId = "schedules" %}

{% block navBar %}
    {{ navBar("schedules") }}
{% endblock %}

{% block aside %}
    {{ govukBreadcrumbs({
        items: [
            {
                text: "Home",
                href: "/"
            },
            {
                text: "Sexual or Violent Offences"
            }
        ]
    }) }}
{% endblock %}

      {% block content %}
          <h1 class="govuk-heading-l">
              Sexual or Violent Offences
          </h1>
          <h2 class="govuk-label">
              The Manage Offences API currently identifies sexual offences by
              {% if sexualFromCodesAndS15P2 %}
                  offence codes that begin with SX03 or SX56 or inclusion in Schedule 15 Part 2
              {% else %}
                  inclusion in Schedule 3 or Schedule 15 Part 2
              {% endif %}
          </h2>
          <p></p>
          {{ govukTabs({
              classes: 'borderless-tabs',
              items: [
                  {
                      label: "Sexual",
                      id: "sexual-codes-and-s15p2",
                      panel: {
                      html: pcscTab(sexualOrViolentLists.sexualCodesAndS15P2, 'Codes that begin with SX03 or SX56 or are in Schedule 15 Part 2',sexualFromCodesAndS15P2, true)
                  }
                  },
                  {
                      label: "Violent",
                      id: "violent",
                      panel: {
                      html: pcscTab(sexualOrViolentLists.violent, 'Violent Offences (Schedule 15 Part 1)', false, false)
                  }
                  }
              ]
          }) }}

          {{ govukBackLink({
              text: "Back",
              href: "/"
          }) }}
      {% endblock %}

      {% macro pcscTab(list, partDesc, active, hint) %}
          <div class="govuk-grid-row">
              <div class="govuk-grid-column-full govuk-!-text-align-left">
                  {% if hint %}
                      <span class="govuk-caption-m"> This table is
                      {% if active %}
                      {% else %}
                          not
                      {% endif %} currently used by the api to identify sexual offences</span>
                  {% endif %}
                  <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                      {{ partDesc }}
                  </h2>
              </div>
          </div>
          {{ scheduleOffenceListTable(
              {
                  offences: list,
                  showMaxPeriodAndParagraph: false
              }
          ) }}
      {% endmacro %}
