{% extends "partials/layout.njk" %}
{% from "partials/nav.njk" import navBar with context %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "partials/scheduleOffenceListTable.njk" import scheduleOffenceListTable %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set pageTitle = applicationName + " - Sexual or Violent Offences" %}
{% set pageId = "schedules" %}

{% block navBar %}
  {{ navBar("schedules") }}
{% endblock %}

{% block aside %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: "Sexual or Violent Offences"
      }
    ]
  }) }}
{% endblock %}

      {% block content %}
        <h1 class="govuk-heading-l">
          Sexual or Violent Offences
        </h1>

        {{ govukTabs({
          classes: 'borderless-tabs',
          items: [
            {
              label: "Sexual",
              id: "sexual",
              panel: {
              html: pcscTab(sexualOrViolentLists.sexual, 'Sexual Offences (Schedule 3 or Schedule 15 Part 2)')
            }
            },{
              label: "Violent",
              id: "violent",
              panel: {
                html: pcscTab(sexualOrViolentLists.violent, 'Violent Offences (Schedule 15 Part 1)')
              }
            }
          ]
        }) }}

        {{ govukBackLink({
          text: "Back",
          href: "/"
        }) }}
      {% endblock %}

      {% macro pcscTab(list, partDesc) %}
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full govuk-!-text-align-left">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
              {{ partDesc }}
            </h2>
          </div>
        </div>
        {{ scheduleOffenceListTable(
          {
            offences: list,
            showMaxPeriodAndParagraph: false
          }
        ) }}
      {% endmacro %}
