REDIS_ENABLED=false
TOKEN_VERIFICATION_ENABLED=false
MANAGE_OFFENCES_API_URL="https://manage-offences-api-dev.hmpps.service.justice.gov.uk"
PRISON_API_URL="https://prison-api-dev.prison.service.justice.gov.uk"

# Credentials for allowing user access
AUTH_CODE_CLIENT_ID=FILL THIS IN WITH SECRET FROM DEV!!
AUTH_CODE_CLIENT_SECRET=FILL THIS IN WITH SECRET FROM DEV!!

# Credentials for API calls
CLIENT_CREDS_CLIENT_ID=FILL THIS IN WITH SECRET FROM DEV!!
CLIENT_CREDS_CLIENT_SECRET=FILL THIS IN WITH SECRET FROM DEV!!
