{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "partials/nav.njk" import navBar with context %}
{% from "partials/offenceTable.njk" import offenceTable %}
{% from "partials/offenceSearch.njk" import offenceSearch %}

{% set pageTitle = applicationName + " - Search" %}
{% set pageId = "search-offences" %}

{% block navBar %}
    {{ navBar('search') }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row govuk-!-margin-bottom-4" data-qa="offence-search-section">
        <div class="govuk-grid-column-full">
            <div id="offence-search-container">
                <h1 class="govuk-heading-l">Search for offences</h1>
                {{ offenceSearch(offenceCode) }}
                {{ offenceTable(
                    {
                        offences: offences,
                        user: user
                    }
                ) }}
            </div>
        </div>
    </div>
{% endblock %}
