{% extends "partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "partials/nav.njk" import navBar with context %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{% from "partials/offenceDetailsSection.njk" import offenceDetailsSection %}
{% from "partials/inchoateTable.njk" import inchoateTable %}
{% from "partials/scheduleCards.njk" import scheduleCards %}

{% set pageTitle = applicationName + " - View Offence" %}
{% set pageId = "view-offence" %}

{% block navBar %}
    {{ navBar('search') }}
{% endblock %}

{% if offenceCodeSearch !== undefined%}
    {% set searchUrl = "/search/offence-code?offenceCode=" + offenceCodeSearch %}
{% else %}
    {% set searchUrl = "/search/offence-code"%}
{% endif %}

{% block aside %}
    {{ govukBreadcrumbs({
        items: [
            {
                text: "Search " + (offenceCodeSearch or ''),
                href: searchUrl
            },
            {
                text: "View " + offence.code
            }
        ]
    }) }}
{% endblock %}

{% block content %}

    <h1 class="govuk-heading-l">
        {{ offence.code }}: {{ offence.description }}
    </h1>


    {{ offenceDetailsSection(offence, parentOffence, {nomisActivationFlags: nomisActivationFlags, offenceCodeSearch: offenceCodeSearch, csrfToken: csrfToken}) }}

    <div class="govuk-grid-row govuk-body">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-m">Linked schedules</h2>
            {% if offence.schedules.length == 0 %}
                <p class="govuk-!-margin-bottom-0">None</p>
            {% else %}
                {{ scheduleCards(offence.schedules) }}
            {% endif %}

        </div>
    </div>

    {% if not offence.isChild %}
        <div class="govuk-grid-row govuk-body">
            <div class="govuk-grid-column-full">
                {% if not childOffences or childOffences.length == 0 %}
                    <h1 class="govuk-heading-m">Associated inchoate offences</h1>
                    <p class="govuk-!-margin-bottom-0">None</p>
                {% else %}
                    <h1 class="govuk-heading-m">Associated inchoate offences</h1>
                    {{ inchoateTable(childOffences) }}
                {% endif %}
            </div>
        </div>
    {% endif %}

    {{ govukButton({
        classes: "govuk-button--secondary govuk-!-margin-right-2",
        text: "Back",
        preventDoubleClick: true,
        href: searchUrl,
        attributes: {  'data-qa': 'Back-view' }
    }) }}

{% endblock %}
