{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "partials/nav.njk" import navBar with context %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}

{% set pageTitle = applicationName + " - View Offence" %}
{% set pageId = "view-offence" %}

{% block navBar %}
    {{ navBar('search') }}
{% endblock %}

{% block aside %}
    {{ govukBreadcrumbs({
        items: [
            {
                text: "Search " + offenceCodeSearch,
                href: "/search/offence-code?offenceCode=" + offenceCodeSearch
            },
            {
                text: "View " + offence.code
            }
        ]
    }) }}
{% endblock %}

{% block content %}

    <h1 class="govuk-heading-l">
        {{ offence.code }}: {{ offence.cjsTitle }}
    </h1>


    <div class="govuk-grid-row govuk-body basic-details">
        <div class="govuk-grid-column-one-quarter">
            <div id="basic-details-content">
                <div>
                    <p>
                        <span class="govuk-!-font-weight-bold">Start date</span>
                        <span data-qa="-start-date">{{ offence.startDate | dateFormat }}</span>
                    </p>
                    <p>
                        <span class="govuk-!-font-weight-bold">Offence type</span>
                        <span data-qa="start-date">{{ offence.offenceType or 'None' }}</span>
                    </p>
                    {% if offence.isChild %}
                        <p>
                            <span class="govuk-!-font-weight-bold">Inchoate offence</span>
                            <span data-qa="parent-offence">Yes</span>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="govuk-grid-column-three-quarters">
            <div id="basic-details-content">
                <div>
                    <p>
                        <span class="govuk-!-font-weight-bold">End date</span>
                        <span data-qa="-start-date">{{ (offence.endDate | dateFormat) or 'None' }}</span>
                    </p>
                    <p>
                        <span class="govuk-!-font-weight-bold">Home Office code</span>
                        <span data-qa="-start-date">{{ offence.homeOfficeStatsCode or 'None' }}</span>
                    </p>
                    {% if offence.isChild %}
                        <p>
                            <span class="govuk-!-font-weight-bold">Parent offence</span>
                            <span data-qa="parent-offence">{{ parentOffence.code }}: {{ parentOffence.cjsTitle }}</span>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


    {% if not offence.isChild %}
        <div class="govuk-grid-row govuk-body">
            <div class="govuk-grid-column-full">
                {% if not childOffences or childOffences.length == 0 %}
                    <h1 class="govuk-heading-m">Associated inchoate offences</h1>
                    <p class="govuk-!-margin-bottom-0">None</p>
                {% else %}
                    <h1 class="govuk-heading-m">Associated inchoate offences</h1>
                    <table id="inchoate-offences-table" class="govuk-table" data-qa="inchoate-table">
                        <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header govuk-!-font-size-16">Code</th>
                            <th scope="col" class="govuk-table__header govuk-!-font-size-16">Description</th>
                            <th scope="col" class="govuk-table__header govuk-!-font-size-16">Start date</th>
                            <th scope="col" class="govuk-table__header govuk-!-font-size-16">End date</th>
                        </tr>
                        </thead>
                        <tbody class="govuk-table__body govuk-body-s">
                        {% for childOffence in childOffences %}
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">
                                    {{ childOffence.code }}
                                </td>
                                <td class="govuk-table__cell">
                                    {{ childOffence.cjsTitle }}
                                </td>
                                <td class="govuk-table__cell">
                                    {{ childOffence.startDate | dateFormat }}
                                </td>
                                <td class="govuk-table__cell">
                                    {{ childOffence.endDate | dateFormat }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    {% endif %}

    <div class="govuk-grid-row govuk-body">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-m">Linked schedules</h1>
            {% if offence.schedules.length == 0 %}
                <p class="govuk-!-margin-bottom-0">None</p>
            {% else %}
                <table id="linked-schedules-table" class="govuk-table" data-qa="linked-schedules-table">
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header govuk-!-font-size-16">Act</th>
                        <th scope="col" class="govuk-table__header govuk-!-font-size-16">Schedule</th>
                        <th scope="col" class="govuk-table__header govuk-!-font-size-16">Legislation URL</th>
                        <th scope="col" class="govuk-table__header govuk-!-font-size-16">Paragraph</th>
                        <th scope="col" class="govuk-table__header govuk-!-font-size-16">Line</th>
                        <th scope="col" class="govuk-table__header govuk-!-font-size-16">Legislation</th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body govuk-body-s">
                    {% for schedule in offence.schedules %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                {{ schedule.act }}
                            </td>
                            <td class="govuk-table__cell">
                                {{ schedule.code }} Part {{ schedule.partNumber }}
                            </td>
                            <td class="govuk-table__cell">
                                <a href="{{ schedule.url }}" rel="noreferrer noopener"
                                   target="_blank">{{ schedule.code }}</a>
                            </td>
                            <td class="govuk-table__cell">
                                {{ schedule.paragraphNumber }} {{ schedule.paragraphTitle }}
                            </td>
                            <td class="govuk-table__cell">
                                {{ schedule.lineReference }}
                            </td>
                            <td class="govuk-table__cell">
                                {{ schedule.legislationText }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>

    {{ govukButton({
        classes: "govuk-button--secondary govuk-!-margin-right-2",
        text: "Back",
        preventDoubleClick: true,
        href: "/search/offence-code?offenceCode=" + offenceCodeSearch,
        attributes: {  'data-qa': 'Back-view' }
    }) }}

{% endblock %}
