$govuk-global-styles: true;
$path: "/assets/images/";

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import 'govuk/all';
@import 'moj/all';

@import './components/header-bar';
@import './components/utils';
@import './components/offence-table';
@import './components/load-results-table';
@import './components/nav';
@import './components/buttons';
@import './components/basic-details';
@import './local';
