.offence-table {
  td, th {
    min-width: 80px;
    font-size: 16px;
    max-width: 300px;

    &:last-of-type {
      min-width: auto;
    }

    &.govuk-table__cell {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    &:nth-last-child(2){
      width: auto;
    }
  }

  th {
    vertical-align: bottom;
  }
}

.offences-link-table {
  td, th {
    min-width: 80px;
    font-size: 16px;
    max-width: 300px;

    &.govuk-table__cell {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    &:nth-last-child(2), &:nth-last-child(3){
      width: 100px;
    }
  }

  th {
    vertical-align: bottom;
  }
}
