{% extends "layout.njk" %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{% from "partials/nav.njk" import navBar with context %}

{% set pageTitle = applicationName + " - Latest load results" %}
{% set pageId = "search-offences" %}

{% block navBar %}
    {{ navBar('load-results') }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row govuk-!-margin-bottom-4" data-qa="load-results-section">
        <div class="govuk-grid-column-full">
            <div id="load-results-container">
                <h1 class="govuk-heading-l">Latest load results</h1>
                <table id="load-results-table" class="govuk-table" data-qa="load-results">
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col">Offence group</th>
                        <th class="govuk-table__header" scope="col">Load type</th>
                        <th class="govuk-table__header" scope="col">Load date</th>
                        <th class="govuk-table__header" scope="col">Last successful load date</th>
                        <th class="govuk-table__header" scope="col">Load status from SDRS</th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                    {% for loadResult in loadResults %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                {{ loadResult.alphaChar }}
                            </td>
                            <td class="govuk-table__cell">
                                {{ loadResult.type | loadType }}
                            </td>
                            <td class="govuk-table__cell">
                                {{ loadResult.loadDate | dateTimeFormat }}
                            </td>
                            <td class="govuk-table__cell">
                                {{ loadResult.lastSuccessfulLoadDate | dateTimeFormat }}
                            </td>
                            <td class="govuk-table__cell">
                                {{ govukTag({
                                    text: loadResult.status or 'Not Loaded',
                                    classes: loadResult.status | statusColour
                                }) }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
