---
# Per environment values which override defaults in hmpps-manage-offences/values.yaml

generic-service:
  replicaCount: 2

  ingress:
    host: manage-offences-dev.hmpps.service.justice.gov.uk

  env:
    INGRESS_URL: "https://manage-offences-dev.hmpps.service.justice.gov.uk"
    HMPPS_AUTH_URL: "https://sign-in-dev.hmpps.service.justice.gov.uk/auth"
    TOKEN_VERIFICATION_API_URL: "https://token-verification-api-dev.prison.service.justice.gov.uk"
    MANAGE_OFFENCES_API_URL: "https://manage-offences-api-dev.hmpps.service.justice.gov.uk"
    PRISON_API_URL: "https://prison-api-dev.prison.service.justice.gov.uk"
    MANAGE_USERS_API_URL: "https://manage-users-api-dev.hmpps.service.justice.gov.uk"

  # Switches off the allowList in the DEV env only.
  allowlist: null

generic-prometheus-alerts:
  alertSeverity: digital-prison-service-dev

