---
# Per environment values which override defaults in hmpps-manage-offences/values.yaml

generic-service:
  replicaCount: 2

  ingress:
    host: manage-offences-preprod.hmpps.service.justice.gov.uk

  env:
    INGRESS_URL: "https://manage-offences-preprod.hmpps.service.justice.gov.uk"
    HMPPS_AUTH_URL: "https://sign-in-preprod.hmpps.service.justice.gov.uk/auth"
    TOKEN_VERIFICATION_API_URL: "https://token-verification-api-preprod.prison.service.justice.gov.uk"
    MANAGE_OFFENCES_API_URL: "https://manage-offences-api-preprod.hmpps.service.justice.gov.uk"
    PRISON_API_URL: "https://prison-api-preprod.prison.service.justice.gov.uk"
    MANAGE_USERS_API_URL: "https://manage-users-api-preprod.hmpps.service.justice.gov.uk"
    ENVIRONMENT_NAME: PRE-PRODUCTION

  allowlist:
    penetration-test-ip-1: 54.37.241.156/30
    penetration-test-ip-2: 167.71.136.237/32
    groups:
      - internal
      - circleci

generic-prometheus-alerts:
  alertSeverity: legacy-replacement-alerts-non-prod
